/* 
#######################
#    GENERAL ITEMS    #
#######################
*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

h1 {
    margin: 80px 0;
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
}

form input {
    margin: 20px 0;
}

/* 
###############
#    INDEX    #
###############
*/
/* NAVABAR */
.navbar {
    background-color: #fff;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #197c00 !important;
}

.navbar li a {
    color: #000 !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #197c00 !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: #000;
    font-size: 24px;
}
/* /NAVBAR */

/* BODY */
#welcome {
    font-size: 25px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 17px;
}

.titre {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

img {
    width: 100% !important;
}

/* 
#############
# MA PLANTE #
#############
*/

#message_warning {
    font-weight: bold;
    font-size: 20px;
}

#warning {
    color: red;
}


.container_titre {
    display: flex;
    justify-content: space-around;
}

.progress_circle_temperature{
    position: relative;             /* pour servir de référent */
    box-sizing: border-box;         /* prise en compte bordure dans la dimension */
    font-size: 6em;                 /* pour définir les dimensions */
    width: 1em;                     /* fixe la largeur */
    height: 1em;                    /* fixe la hauteur */
    border-radius: 50%;             /* rendu aspect circulaire */
    border: .15em solid rgb(255, 60, 0);       /* couleur de fond de l'anneau */
    background-color: rgb(255, 255, 255);         /* couleur de fond de la progress bar */
}

.progress_masque {
    position: absolute;
    width: 1em;                     /* 100% de la largeur */
    height: 1em;                    /* 100% de la hauteur */
    left: -.15em;                   /* décalage de la largeur bordure de la gauge */
    top: -.15em;                    /* décalage de la largeur bordure de la gauge */
    clip: rect(0, 1em, 1em, .5em);  /* par défaut seule la partie droite est visible */
}

.progress_circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress_masque,
.progres_circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress_masque,
.progres_circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress_masque,
.progres_circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress_masque,
.progres_circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress_masque,
.progres_circle[data-value^='100'] .progress_masque {
  clip: rect(auto, auto, auto, auto);
}

.progress-barre, .progress_sup50 {
  position: absolute;
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  border-width: .15em;            /* largeur bordure de la gauge */
  border-style: solid;
  border-color: #069;
  border-radius: 50%;             /* rendu aspect circulaire */
  width: 1em;                     /* largeur à 100% */
  height: 1em;                    /* hauteur à 100% */
  clip: rect(0, .5em, 1em, 0);    /* on ne garde que la partie gauche */
}

.progress_sup50 {
    display: none;
    clip: rect(0, 1em, 1em, .5em);
}

.progress_circle[data-value^='5']:not([data-value='5']):not([data-value^='5.']) .progress_sup50,
.progress_circle[data-value^='6']:not([data-value='6']):not([data-value^='6.']) .progress_sup50,
.progress_circle[data-value^='7']:not([data-value='7']):not([data-value^='7.']) .progress_sup50,
.progress_circle[data-value^='8']:not([data-value='8']):not([data-value^='8.']) .progress_sup50,
.progress_circle[data-value^='9']:not([data-value='9']):not([data-value^='9.']) .progress_sup50,
.progress_circle[data-value^='100'] .progress_sup50 {
  display:block;
}

.progress_circle:after {
    content: attr(data-value) "%";  /* récup. valeur de progression */
    font-size: 0.15em;              /* taille de la font en % du parent */
    height: 100%;                   /* centrage dans le parent */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /*-- pour effet shadow intérieur --*/
    border-radius: 50%;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
}