/* 
#######################
#    GENERAL ITEMS    #
#######################
*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

h1 {
    margin: 80px 0;
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
}

form input {
    margin: 20px 0;
}

/* 
###############
#    INDEX    #
###############
*/
/* NAVABAR */
.navbar {
    background-color: #fff;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #197c00 !important;
}

.navbar li a {
    color: #000 !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #197c00 !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: #000;
    font-size: 24px;
}
/* /NAVBAR */

/* BODY */
#welcome {
    font-size: 25px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 17px;
}

.titre {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

img {
    width: 100% !important;
}

/* 
#############
# MA PLANTE #
#############
*/

#message_warning {
    font-weight: bold;
    font-size: 20px;
}

#warning {
    color: red;
}


.container_titre {
    display: flex;
    justify-content: space-around;
}